* {
	box-sizing: border-box;
}
body {
	background-image: url(images/patt.png);
}
.conteiner {
	width: 1170px;
	margin: 0 auto;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-lg"] {
	float: left;
}

.col-lg-3 {
	width: 25%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-9 {
	width: 75%;
}
header {
	padding: 25px 0;
	background-color:rgba(255,255,255,0.75);
}
.menu > li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}
.menu > li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu li:hover {
	background-color: #2c71b8;
}
.menu li:hover a {
	color: white;
}
.menu a {
	font-size: 21px;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #2c71b8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.menu li ul{
	display: none;
}
.menu li:hover ul {
	display: block;
	position: absolute;
	top: 50px;
	left: -1px;
	background-color:#2c71b8;
}
.menu li ul {
	width: 293px;
}
.menu li ul li {
	width: 100%;
}
.menu li ul li a {
	display: block;
	text-align: left;
	padding-left: 30px;
}
.menu li ul li:hover a {
	color: #2c71b8;
	background-color:white;
}
.cart {
	width: 40px;
	height: 40px;
	margin-left: 25px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/cart.png);
	position: relative;
	float: right;
}
.counter {
	width: 20px;
	height: 20px;
	background-color:#2c71b8;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: -10px;
	color: white;
}
.search {
	/*border:1px solid #2c71b8;*/
}

.footer {
	padding: 25px 0;
	background-color:rgba(255,255,255,0.75);
	font-size: 21px;
	display: block;
	height: 100px;
	line-height: 50px;
	text-align: center;
	color: #2c71b8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}
.main {
	min-height: calc(100vh - 200px);

}
.col {
	float: left;
	width: 33.33333333%;
	border: 1px solid #cadbed;
	background-color: rgba(44,113,184,0.75);
}
.Laptops_and_Tables {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	color:white;
	margin: 30px;
	font-weight: bold;
}
.Home_page{
	color:#7aa5d2;
	margin: 30px;
}
.device_image{
	width: 270px;
	height: 180px;
	background-color: #cadbed;
	position: relative;
}
.device_image img {
	position: absolute;
	top: 45px;
	left: 83px;
}
.heart{
	border:2px solid #2c71b8;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/heart.png);
	position: absolute;
	top: 50px;
	left: 230px;

}
.square{
	border:2px solid #2c71b8;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/square.png);
	position: absolute;
	top: 10px;
	left: 230px;
}
.device_description{
	margin: 15px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 300;
}
span{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	font-size: 30px;
}
.price {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align: center;
	display: block;
}
.button {
	width: 210px;
	height: 50px;
	margin: 15px 30px;
	border: 1px solid white;
	background-color: #2c71b8;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
}